<!DOCTYPE html>
<html>

<head>
  <title>
    PrintTo3D
  </title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/layoutStyles.css">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/categoryStyles.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    <section id="nav-section">
      <img src="/img/logo2.png" alt="LogoPrintTo3D" width="150px">
      <nav>
        <button type="button">
          Button 1
        </button>
        <button type="button">
          Button 2
        </button>
        <button type="button">
          Button 3
        </button>
      </nav>
    </section>
    <section id="user-section">
      <button type="button">
        Crear cuenta
      </button>
      <button type="button">
        Iniciar sesión
      </button>
      <button type="button">
        <i class="fa-sharp fa-solid fa-circle-user"></i>
      </button>
    </section>
  </header>
  <main>
    <section id="first-section">
      <div class="overlay"></div>
      <div class="content">
        <div class="search">
          <p>Busca tu producto</p>
          <input type="text" placeholder="Impresora...">
          <div class="button-container">
            <button type="button">
              Buscar
            </button>
          </div>
        </div>
      </div>
    </section>
    <h2 class="titulo-categoria">Impresoras 3D</h2>
    <div class="box-articulos">
      <section>
        <img src="img/impresora1.jpg" alt="imagen de impresora">
        <article>
          <div class="box-precio">
            <p class="precio">$0.000
              <span class="descuento">20% off</span>
            </p>
          </div>
          <h3>Impresora Modelo 1</h3>
        </article>
      </section>
      <section>
        <img class="img" src="img/impresora1.jpg" alt="imagen de impresora">
        <article>
          <div class="contenedor-precio">
            <p class="precio">$0.000
              <span class="descuento">20% off</span>
            </p>
          </div>
          <h3>Impresora Modelo 2</h3>
        </article>
      </section>
      <section>
        <img class="img" src="img/impresora1.jpg" alt="imagen de impresora">
        <article>
          <div class="contenedor-precio">
            <p class="precio">$0.000
              <span class="descuento">20% off</span>
            </p>
          </div>
          <h3>Impresora Modelo 3</h3>
        </article>
      </section>
      <section>
        <img class="img" src="img/impresora1.jpg" alt="imagen de impresora">
        <article>
          <div class="contenedor-precio">
            <p class="precio">$0.000
              <span class="descuento">20% off</span>
            </p>
          </div>
          <h3>Impresora Modelo 4</h3>
        </article>
      </section>
      <section>
        <img class="img" src="img/impresora5.jpg" alt="imagen de impresora">
        <article>
          <div class="contenedor-precio">
            <p class="precio">$0.000
              <span class="descuento">20% off</span>
            </p>
          </div>
          <h3>Impresora Modelo 5</h3>
        </article>
      </section>
      <section>
        <img class="img" src="img/impresora6.jpg" alt="imagen de impresora">
        <article>
          <div class="contenedor-precio">
            <p class="precio">$0.000
              <span class="descuento">20% off</span>
            </p>
          </div>
          <h3>Impresora Modelo 6</h3>
        </article>
      </section>
    </div>
  </main>
  <footer>
  </footer>
</body>

</html>