<!DOCTYPE html>
<html>
  <head>
    <title>
      PrintTo3D
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/layoutStyles.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/categoryStyles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body> <%- includes("/header")%>
    <header>
      <section id="nav-section">
        <img src="/img/logo2.png" alt="LogoPrintTo3D" width="150px">
        <nav>
          <button type="button">
            Button 1
          </button>
          <button type="button">
            Button 2
          </button>
          <button type="button">
            Button 3
          </button>
        </nav>
      </section>
      <section id="nav-mobile">
        <button type="button">
          <i class="fa-sharp fa-solid fa-bars"></i>
        </button>
      </section>
      <section id="user-section">
        <button type="button">
          Crear cuenta
        </button>
        <button type="button">
          Iniciar sesión
        </button>
        <button type="button">
          <i class="fa-sharp fa-solid fa-circle-user"></i>
        </button>
      </section>
    </header>
    <main>
        <section id="first-section">
            <div class="overlay"></div>
            <div class="content">
              <div class="search">
                <p>Busca tu producto</p>
                <input type="text" placeholder="Impresora...">
                <div class="button-container">
                  <button type="button">
                    Buscar
                  </button>
                </div>
              </div>
            </div>
        </section>
        <h2 class="titulo-categoria">Impresoras 3D</h2>
        <div class="box-articulos">
            <section>
                <img src="img/impresora1.jpg" alt="imagen de impresora">
                <article>
                    <div class="box-precio">
                        <p class="precio">$0.000
                          <span class="descuento">20% off</span>
                        </p>
                    </div>
                    <h3>Impresora Modelo 1</h3>
                </article>
            </section>
            <section>
                <img class="img" src="img/impresora1.jpg" alt="imagen de impresora">
                <article>
                    <div class="contenedor-precio">
                        <p class="precio">$0.000
                          <span class="descuento">20% off</span>
                        </p>
                    </div>
                    <h3>Impresora Modelo 2</h3>
                </article>
            </section>
            <section>
                <img class="img" src="img/impresora1.jpg" alt="imagen de impresora">
                <article>
                    <div class="contenedor-precio">
                        <p class="precio">$0.000
                          <span class="descuento">20% off</span>
                        </p>
                    </div>
                    <h3>Impresora Modelo 3</h3>
                </article>
            </section>
            <section>
                <img class="img" src="img/impresora1.jpg" alt="imagen de impresora">
                <article>
                    <div class="contenedor-precio">
                        <p class="precio">$0.000
                          <span class="descuento">20% off</span>
                        </p>
                    </div>
                    <h3>Impresora Modelo 4</h3>
                </article>
            </section>
            <section>
                <img class="img" src="img/impresora5.jpg" alt="imagen de impresora">
                <article>
                    <div class="contenedor-precio">
                        <p class="precio">$0.000
                          <span class="descuento">20% off</span>
                        </p>
                    </div>
                    <h3>Impresora Modelo 5</h3>
                </article>
            </section>
            <section>
                <img class="img" src="img/impresora6.jpg" alt="imagen de impresora">
                <article>
                    <div class="contenedor-precio">
                        <p class="precio">$0.000
                          <span class="descuento">20% off</span>
                        </p>
                    </div>
                    <h3>Impresora Modelo 6</h3>
                </article>
            </section>
        </div>
    </main>
    <footer>
      <div id="footer-img-container">
        <img src="/img/logo2.png" alt="LogoPrintTo3D" width="150px">
      </div>
      <section class="footer-list" id="footer-categories">
        <h4>Categorías</h4>
        <ul>
          <li>
            <a href="/">Categorie 1</a>
          </li>
          <li>
            <a href="/">Categorie 2</a>
          </li>
        </ul>
      </section>
      <section class="footer-list" id="footer-contact">
        <h4>Contacto</h4>
        <ul>
          <li>
            <i class="fa-sharp fa-solid fa-phone"></i>
            <a href="tel:3412344">3412344</a>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-envelope"></i>
            <a href="mailto:example@a.com">example@a.com</a>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-location-dot"></i>
            <a href="/">exmplae 123</a>
          </li>
        </ul>
      </section>
      <section class="footer-list" id="footer-social">
        <h4>Redes sociales</h4>
        <ul>
          <li>
            <i class="fa-sharp fa-solid fa-at"></i>
            <a href="/">instagram</a>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-at"></i>
            <a href="/">facebook</a>
          </li>
          <li>
            <i class="fa-sharp fa-solid fa-at"></i>
            <a href="/">linkedin</a>
          </li>
        </ul>
      </section>
    </footer>
  </body>
</html>