<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        PrintTo3D
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/loginStyles.css">
    <link rel="stylesheet" href="css/layoutStyles.css">
    <link rel="stylesheet" href="css/reset.css">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<main>
    <form class="form-login" action="" method="get">
        <h1>Ingresa a PrintTo3D</h1>
        <input type="email" name="email" id="email" placeholder="Correo electronico" required>
        <input type="password" name="password" id="password" placeholder="Contraseña" required>
        <input type="submit" name="submit" id="submit" value="Acceder">
        <div class="contenedor-preguntas-login">
            <a href="#">¿Olvidaste el correo electronico?</a>
            <a href="#">¿Olvidaste el correo contraseña?</a>
        </div>
        <div class="contenedor-idiomas-ayuda-privacidad-condiciones">
            <a href="#">Idiomas</a>
            <a href="#">Ayuda</a>
            <a href="#">Privacidad</a>
            <a href="#">Condiciones</a>
        </div>
    </form>
</main>

</body>

</html>