<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        PrintTo3D
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/layoutStyles.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/r-contrasena.css">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <main>
        <form class="form-r-contraseña" action="" method="get">
            <h1>Recupera tu Contraseña</h1>
            <input type="email" name="email" id="email" placeholder="Correo electronico">
            <input type="button" name="button" id="button" value="Enviar">
            <div class="contenedor-idiomas-ayuda-privacidad-condiciones">
                <a href="#">Idiomas</a>
                <a href="#">Ayuda</a>
                <a href="#">Privacidad</a>
                <a href="#">Condiciones</a>
            </div>

        </form>

    </main>

</body>

</html>