* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    padding-top: 120px;
}

#first-section {
    max-width: 100%;
    height: 45vh;
    background-image: url("/img/galery.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 60px;
    padding-right: 60px;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 80%;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 0;
}

#first-section .content {
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#first-section .content .search {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 10vw;
}

#first-section .content .search input {
    background-color: #ffffff;
    color: #000000;
    padding: 8px;
    border-radius: 10px;
    width: 20vw;
}

#first-section .content .search p {
    font-size: 23px;
}

#first-section .content .search .button-container {
    width: 100%;
    display: flex;
    justify-content: left;
}

main button {
    border: 2px solid #0093d7;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
}

.titulo-categoria {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
}

.box-articulos {
    display: flex;
    flex-direction: column;
}

.box-articulos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.box-articulos section {
    max-width: 100%;
    margin: 5px 0;
    background: black;
    margin-top: 200px;
}

.box-articulos section {
    flex-basis: 45%;
    margin: 10px;
}

.box-precio {
    display: flex;
}

.precio {
    font-weight: bolder;
    font-size: 16px;
}

.descuento {
    font-size: 16px;
    width: 70%;
    color: #0093d7;
}

h3 {
    font-size: 18px;
}

div.box-articulos section img {
    width: 100%;
}

main section {
    box-shadow: 0px 0px 12px rgb(190, 190, 190);
    max-width: 50%;
}

@media (min-width: 769px) {
    .box-articulos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .box-articulos section {
        flex-basis: 30%;
        
    }
    
    
}

