.overlay {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 80%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}
main {
  margin-right: 18px;
}
h1 {
  font-size: 50px;
}
h3 {
  font-size: 45px;
}
h4 {
  font-size: 45px;
}

.paragraphDescription{
  text-align: justify;
}
main button {
  border: 2px solid #0093d7;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;

  
}

main button:hover{
  background-color: rgb(1, 65, 93);
 
}
#first-section {
  width: 100%;
  height: 80vh;
  padding-top: 93.81px;
  background-image: url("/img/impresora.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
  border-bottom: solid #0093d7 4px;
}
#first-section .content {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: center;
}
#first-section .content .search {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 20px;
}
input, textarea {
  background-color: #ffffff;
  color: #000000;
  padding: 4px;
  border-radius: 10px;
  width: 100%;
}
#first-section .content .search p {
  font-size: 18px;
}
#first-section .content .search .button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
#categorie-section {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
#categorie-section .categorie-container {
  position: relative;
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
#categorie-section .categorie-container article {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
  text-align: center;
}
#categorie-section .categorie-container article button {
  font-size: 18px;
}
#categorie-section .categorie-container img {
  width: 80%;
  border-radius: 15px;
}
#categorie-section .categorie-container .overlay-categorie {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  transition-duration: 0.5s;
  transition-property: all;
  transition-timing-function: ease-out;
  opacity: .6;
}
#categorie-section .categorie-container:hover .overlay-categorie {
  opacity: .9;
}
#categorie-section .categorie-container .overlay-categorie {
  background: linear-gradient(0deg, rgba(0,0,0,1) 18%, rgb(1, 65, 93) 100%, rgba(0,0,0,0.7035189075630253) 100%);
}
#mail-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 50px;
}
#mail-section .mail-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#mail-section .mail-container .info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 15px;
  font-size: 16px;
}
#mail-section .mail-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
#mail-section .mail-container form label {
  font-size: 14px;
}
#mail-section .mail-container form .data-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#mail-section .mail-container form .field-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: flex-start;
}
#mail-section .mail-container form .field-container input, textarea {
  font-size: 14px;
}
textarea {
  height: 120px;
}
#mail-section .mail-container form button#mail-submit {
  width: 100%;
  border-radius: 10px;
  background-color: #0093d7;
  padding: 12px;
  text-align: center;
}
@media (min-width: 480px) {
  h1 {
    font-size: 65px;
  }
  #first-section .content .search p {
    font-size: 20px;
  }
  input {
    padding: 6px;
  }
  main button {
    padding-left: 30px;
    padding-right: 30px;
  }
  /* Categoria */
  #categorie-section {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 110px;
  }
  #categorie-section .categorie-container {
    gap: 35px;
  }
  #categorie-section .categorie-container article {
    gap: 35px;
  }
  #categorie-section .categorie-container article button {
    font-size: 20px;
  }
  #categorie-section .categorie-container img {
    width: 70%;
  }
}
@media (min-width: 640px) {
  h1 {
    font-size: 75px;
  }
  #first-section .content .search p {
    font-size: 24px;
  }
  input {
    padding: 8px;
  }
  main button {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 40px;
    padding-right: 40px;
  }
  /* Categoria */
  h3 {
    font-size: 60px;
  }
  #categorie-section {
    width: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 150px;
  }
  #categorie-section .categorie-container article {
    width: 90%;
  }
}
@media (min-width: 769px) {
  h1 {
    font-size: 80px;
  }
  #first-section .content .search p {
    font-size: 26px;
  }
  input {
    padding: 8px;
  }
  /* Categoria */
  h3 {
    font-size: 70px;
  }
  #categorie-section .categorie-container article {
    width: 80%;
  }
  h4 {
    font-size: 60px;
  }
  #mail-section .mail-container {
    flex-direction: row;
    gap: 60px;
    width: 80%;
  }
  #mail-section .mail-container .info-container p {
    font-size: 18px;
  }
  #mail-section .mail-container form button#mail-submit {
    width: 60%;
  }
}
@media (min-width: 1024px) {
  #first-section {
    padding-left: 60px;
    padding-right: 60px;
  }
  #first-section .content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  h1 {
    font-size: 100px;
  }
  #first-section .content .search p {
    font-size: 23px;
  }
  input {
    padding: 8px;
  }
  #first-section .content .search input {
    width: 250px;
  }
  #first-section .content .search .button-container {
    justify-content: end;
  }
  #first-section .content .search {
    text-align: start;
    margin-right: 10vw;
    gap: 10px;
  }
  main button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 10px;
  }
  /* Categoria */
  h3 {
    font-size: 60px;
  }
  #categorie-section {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 150px;
  }
  #categorie-section .categorie-container {
    flex-direction: row;
    justify-content: space-around;
    gap: 0px;
  }
  #categorie-section .categorie-container:nth-child(odd) .overlay-categorie {
    background: linear-gradient(270deg, rgba(0,0,0,1) 18%, rgb(1, 65, 93) 100%, rgba(0,0,0,0.7035189075630253) 100%);
  }
  #categorie-section .categorie-container:nth-child(even) .overlay-categorie {
    background: linear-gradient(90deg, rgba(0,0,0,1) 18%, rgba(1, 65, 93) 100%, rgba(0,0,0,0.7035189075630253) 100%);
  }
  #categorie-section .categorie-container:nth-child(even) {
    flex-direction: row-reverse;
  }
  #categorie-section .categorie-container article {
    gap: 50px;
    align-items: center;
    width: 33%;
    text-align: center;
  }
  #categorie-section .categorie-container article button {
    font-size: 24px;
  }
  #categorie-section .categorie-container img {
    border-radius: 15px;
    width: 40%;
  }
  #mail-section .mail-container .info-container p {
    font-size: 20px;
  }
}
@media (min-width: 1279px) {
  #first-section .content .search input {
    width: 300px;
  }
}