main {
  color: #ffffff;
}
#first-section {
  width: 100%;
  height: 80vh;
  padding-top: 93.81px;
  background-image: url("/img/impresora.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 60px;
  padding-right: 60px;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 80%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
}
h1 {
  font-size: 100px;
}
h3 {
  font-size: 50px;
}
#first-section .content {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#first-section .content .search {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 10vw;
}
#first-section .content .search input {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  border-radius: 10px;
  width: 20vw;
}
#first-section .content .search p {
  font-size: 23px;
}
#first-section .content .search .button-container {
  width: 100%;
  display: flex;
  justify-content: end;
}
main button {
  border: 2px solid #0093d7;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 10px;
}
#categorie-section {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  gap: 150px;
}
#categorie-section .categorie-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#categorie-section .categorie-container article {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  width: 33%;
  text-align: center;
}
#categorie-section .categorie-container article button {
  font-size: 24px;
}
#categorie-section .categorie-container img {
  border-radius: 15px;
  margin-right: 10vw;
}