*{
    box-sizing: border-box;
}
main{
    height: 100vh;
    width: 100vw ;
    display: flex;
    justify-content: center;   
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;

}

input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid black;
    margin: 30px auto;
    background: white;
    color: black;
    border-radius: 10px;
}

form p {
    text-align: center;
}

.contenedor-preguntas-login {
    display: flex;
    justify-content: space-evenly;
    margin-right: 45px
}

.contenedor-preguntas-login a {
    font-size: 14px;
    color: #0093d7;
    font-weight: bold;
    margin: 5px 0 10px 0;
}


#submit {
    width: auto;
    border: 1px solid black;
    border-radius: 5px;
    background: #0093d7;
    padding: 0.8rem 1.5rem;
    color: white;
    transition: background-color .2s ease-in-out;
}

#submit:hover {
    background-color: #004562;
    transition: background-color .3s ease-in-out;
}

.form-login {
    width: 100%;
    padding: 30px 10px;
    margin: 100px auto;
    border: 4px #0093d7 solid;
    border-radius: 20px;
}



/*escritorio*/
@media (min-width: 768px) {
    h1 {
        font-size: 36px;

    }

    input {
        width: 75%;
    }

    .form-login {
        width: 60%;
        padding: 30px;
    }
    .contenedor-idiomas-ayuda-privacidad-condiciones{
        font-size: 20px;
 }
 

}
/*tablet*/
@media (max-width: 767px) {
    h1 {
        font-size: 32px;

    }

    input {
        width: 95%;
    }

    .form-login {
        width: 95%;
        padding: 30px;
    }

    
    


}