* {
    box-sizing: border-box;
}

main {
    width: 100%;
    height: 150vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin: 20px;

}
a{
    display: block;
    text-align: center;
    color: #0093d7;
}

main .colors-container .individual-colors-container .color {
  width: 30px;
  height: 30px;
  border-radius: 100%;
}

main .colors-container {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-top: 10px;
}

main .individual-colors-container {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.forms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  width: 100%;
  padding: 30px 25px;
  margin-top: 100px auto;
  margin-left: 100px auto;
  margin-right: 100px auto;
  border: 4px #0093d7 solid;
  border-radius: 20px;
  max-width: 900px;
  position: relative;
}

.forms-container .delete-form {
  width: 50%;
  position: relative;
}

.forms-container input .delete-button {
  width: 50%;
}

.contenedor-form__input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid black;
    margin: 30px auto;
    background: white;
    color: black;
    border-radius: 10px;
}

textarea{
    height: 200px;
}
.button-center{
    text-align: center;
    background-color: #0093d7;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}
.button-center__editImagen{
    margin: 0px 20px 20px 20px;
    margin-bottom: 20px;
    max-width: 300px;
}


.contenedor-form {
    width: 100%;
}

.contenedor-form__detalleProcucto--botones{
    display: flex;
}

.contenedor-form__imagenproducto{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-bottom: 50px;
}


/*Tablet*/
@media(min-width: 364px) {
    .contenedor-Nombre-contraseña {
        display: flex;
        flex-direction: row;
        column-gap: 10px;
    }
    .contenedor-form { 
        width: 95%;
    }
 }

 @media(min-width:769px){
    .contenedor-form { 
        width: 90%;
    } 
 }
