<!DOCTYPE html>
<html>
  <head>
    <title>
      PrintTo3D
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/layoutStyles.css">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/kart.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <%- include('./partials/header') %>  
    <main>
      <section id="product-list">
        <div class="product-header">
          <div class="header">
            <p>Imagen</p>
          </div>
          <div class="header">
            <p>Producto</p>
          </div>
          <div class="header">
            <p>Precio</p>
          </div>
          <div class="header">
            <p>Cantidad</p>
          </div>
          <div class="header">
            <p>Total</p>
          </div>
          <div class="header">
            <p>Acción</p>
          </div>
        </div>
        <div class="list">
          <article class="product">
            <div class="image-container">
              <img src="/img/imgg.jpg" alt="">
            </div>
            <div class="propiedades-container">
              <div class="propiedad-container">
                <p class="nombre-producto">Nombre del producto</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Precio:</p>
                <p>$$</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Cantidad:</p>
                <p>##</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Total:</p>
                <p>$$</p>
              </div>
              <button type="button" class="delete-item">Eliminar</button>
            </div>
          </article>
          <article class="product">
            <div class="image-container">
              <img src="/img/imgg.jpg" alt="">
            </div>
            <div class="propiedades-container">
              <div class="propiedad-container">
                <p class="nombre-producto">Nombre del producto</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Precio:</p>
                <p>$$</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Cantidad:</p>
                <p>##</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Total:</p>
                <p>$$</p>
              </div>
              <button type="button" class="delete-item">Eliminar</button>
            </div>
          </article>
          <article class="product">
            <div class="image-container">
              <img src="/img/imgg.jpg" alt="">
            </div>
            <div class="propiedades-container">
              <div class="propiedad-container">
                <p class="nombre-producto">Nombre del producto</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Precio:</p>
                <p>$$</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Cantidad:</p>
                <p>##</p>
              </div>
              <div class="propiedad-container">
                <p class="propiedad">Total:</p>
                <p>$$</p>
              </div>
              <button type="button" class="delete-item">Eliminar</button>
            </div>
          </article>
        </div>
      </section>
      <section id="total-kart">
        <h3>Total del carrito</h3>
        <div class="details-container">
          <p>Subtotal</p>
          <span>$$$</span>
        </div>
        <div class="details-container">
          <p>Envío</p>
          <span>$$$</span>
        </div>
        <div class="details-container">
          <p>Total</p>
          <span>$$$</span>
        </div>
        <button type="button" id="finaliza-button">Finalizar compra</button>
      </section>
    </main>
    <%- include('./partials/footer') %>  
  </body>
</html>