<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        PrintTo3D
    </title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/registerStyles.css">
    <link rel="stylesheet" href="css/layoutStyles.css">
    <link rel="stylesheet" href="css/reset.css">


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header>
        <section id="nav-section">
            <img src="/img/logo2.png" alt="LogoPrintTo3D" width="150px">
            <nav>
                <button type="button">
                    Button 1
                </button>
                <button type="button">
                    Button 2
                </button>
                <button type="button">
                    Button 3
                </button>
            </nav>
        </section>
        <section id="nav-mobile">
            <button type="button">
                <i class="fa-sharp fa-solid fa-bars"></i>
            </button>
        </section>
        <section id="user-section">
            <button type="button">
                Crear cuenta
            </button>
            <button type="button">
                Iniciar sesión
            </button>
            <button type="button">
                <i class="fa-sharp fa-solid fa-circle-user"></i>
            </button>
        </section>
    </header>
    <main>
        <form class="contenedor-form" action="" method="get">
            <h1>Crea tu cuenta en PrintTo3D</h1>
            <div class="contenedor-Nombre-contraseña">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre">
                <input type="text" name="apellido" id="apellido" placeholder="Apellido">
            </div>
            <input type="email" name="email" id="email" placeholder="Correo electronico">
            <div class=contenedor-Nombre-contraseña>
                <input type="password" name="password" id="password" placeholder="Contraseña">
                <input type="password" name="password" id="password" placeholder="Confirmar contraseña">
                <input class="input-malo" type="button" name="button" id="button" value="Mostrar contraseña">
            </div>
            <div>
                <input class="button-center" type="button" name="button" id="button" value="Crear">
            </div>
            <a href="/login">¿Ya tenes una cuenta?</a>
        </form>
    </main>
    <footer>
        <div id="footer-img-container">
            <img src="/img/logo2.png" alt="LogoPrintTo3D" width="150px">
        </div>
        <section class="footer-list" id="footer-categories">
            <h4>Categorías</h4>
            <ul>
                <li>
                    <a href="/">Categorie 1</a>
                </li>
                <li>
                    <a href="/">Categorie 2</a>
                </li>
            </ul>
        </section>
        <section class="footer-list" id="footer-contact">
            <h4>Contacto</h4>
            <ul>
                <li>
                    <i class="fa-sharp fa-solid fa-phone"></i>
                    <a href="tel:3412344">3412344</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-envelope"></i>
                    <a href="mailto:example@a.com">example@a.com</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-location-dot"></i>
                    <a href="/">exmplae 123</a>
                </li>
            </ul>
        </section>
        <section class="footer-list" id="footer-social">
            <h4>Redes sociales</h4>
            <ul>
                <li>
                    <i class="fa-sharp fa-solid fa-at"></i>
                    <a href="/">instagram</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-at"></i>
                    <a href="/">facebook</a>
                </li>
                <li>
                    <i class="fa-sharp fa-solid fa-at"></i>
                    <a href="/">linkedin</a>
                </li>
            </ul>
        </section>
    </footer>
</body>

</html>