<footer>
  <div id="footer-img-container">
    <a href="/">
      <img src="/img/logo2.png" alt="LogoPrintTo3D" width="150px">
    </a>
  </div>
  <section class="footer-list" id="footer-categories">
    <h4>Categorías</h4>
    <ul>
      <li>
        <a href="/category/0">Impresoras de filamento</a>
      </li>
      <li>
        <a href="/category/1">Impresoras de Resina</a>
      </li>
      <li>
      <a href="/category/2">Insumos</a>
      </li>
    </ul>
  </section>
  <section class="footer-list" id="footer-contact">
    <h4>Contacto</h4>
    <ul>
      <li>
        <i class="fa-sharp fa-solid fa-phone"></i>
        <a href="tel:1577899342">1577899342</a>
      </li>
      <li>
        <i class="fa-sharp fa-solid fa-envelope"></i>
        <a href="mailto:example@a.com">PrintTo3d@gmail.com</a>
      </li>
      <li>
        <i class="fa-sharp fa-solid fa-location-dot"></i>
        <a href="/">Av.Siempreviva 742 </a>
      </li>
    </ul>
  </section>
  <section class="footer-list" id="footer-social">
    <h4>Redes sociales</h4>
    <ul>
      <li>
        <i class="fa-brands fa-instagram"></i>
        <a href="/">instagram</a>
      </li>
      <li>
        <i class="fa-brands fa-facebook"></i>
        <a href="/">facebook</a>
      </li>
      <li>
        <i class="fa-brands fa-linkedin"></i>
        <a href="/">linkedin</a>
      </li>
    </ul>
  </section>
</footer>